@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<AUTOSALONI_MVC.Models.Entities.MARCHE>
<h1>Elenco Marche</h1>
<table class="table">
    <thead>
        <tr>
            @*     <th>ID</th> *@
            <th>Marche</th>
            <th>Paese</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var marca in Model)
        {
            <tr>
                @*       <td>
                    @marca.IdMarca
                </td> *@
                <td>
                    @marca.Marca
                </td>
                <td>
                    @marca.Paese
                </td>
                <td>
                    <a class="btn btn-primary" asp-controller="Marche" asp-action="Edit" asp-route-id="@marca.IdMarca">Modifica</a>
                </td>
            </tr>
        }
    </tbody>
</table>
